@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
:root{
    --main-color: rgba(255,255,255,255);
    --accent-color-1: rgba(25,146,212,255);
    --accent-color-2: rgba(226,232,240,255);
    font-size: calc(0.5rem + 0.8vw);
}

body{
    font-family: "roboto";
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 4.2fr;
    grid-template-rows: .7fr 3fr;
}
button:hover{
    scale: 1.1 1.1;
    cursor: pointer;
    opacity: .8;
}

.profile-pic img{
    border-radius: 50px;
    object-fit: cover;
    height: 45px;
    width: 45px;
}

/* 
----------------------------------------------------------------
    Header section styling
----------------------------------------------------------------
 */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

header svg{
    fill: black;
    height: 1.1rem;
    width: auto;
}

header svg:hover{
    scale: 1.1 1.1;
    opacity: .9;
    cursor: pointer;
}

header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 0 50px;
}

header #nav ul{
    display: flex;
    list-style: none;
}

header #search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

header #search-bar input[type=text]{
    width: 27rem;
    height: 1rem;
    border-radius: 50px;
    font-size: 1rem;
    padding: 6px 0 6px 10px;
    border-style: none;
    background-color: var(--accent-color-2);
}

header #project-buttons{
    display: flex;
    height: 100%;
    padding-left: 0;
    margin: 0;
    align-items: flex-end;
    padding-bottom: 20px;
    list-style: none;
    gap: 30px;
}

header #project-buttons button{
    display: flex;
    justify-content: center;
    min-width: 100px;
    font-size: 0.75rem;
    color: white;
    padding: 8px 30px;
    border-radius: 50px;
    font-weight: 500;
    border-style: none;
    background-color: var(--accent-color-1);
}

header #user-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

header #user-profile h6{
    margin: 0 0 8px;
}

header #user-profile h3{
    margin: 0;
}

header #user-profile img{
    border-radius: 50px;
    object-fit: cover;
    height: 60px;
    width: 60px;
}
header .profile-pic {
    display: flex;
    align-items: center;
    gap: 22px;
}

header .profile-pic * {
    margin: 0;
}

header .profile-pic img{
    border-radius: 50px;
    object-fit: cover;
    height: 45px;
    width: 45px;
}

/* 
----------------------------------------------------------------
    Sidebar section styling
----------------------------------------------------------------
 */
aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0.8rem 1.2rem ;
    color: var(--main-color);
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--accent-color-1);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

aside li{
    display: flex;
    width: fit-content;
}

aside li:hover{
    scale: 1.05 1.05;
    cursor: pointer;
}

aside li p{
    margin: 0;
}

aside svg{
    fill: var(--main-color);
}

#logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 8px;
    cursor: pointer;
}

#logo * {
    margin: 0;
}

#logo svg{
    height: 2.2rem;
    width: auto;
}

.menu{
    padding: 0;
    box-sizing: border-box;
}

.menu svg{
    height: 1rem;
    width: auto;
    margin-right: 20px;
}

/* 
----------------------------------------------------------------
    Main section styling
----------------------------------------------------------------
 */

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--accent-color-2);
    padding:  0 30px 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

main p{
    margin: 20px 0 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

 #projects{
    grid-column:  1 / 2;
    grid-row: 1 / 3;
 }

#project-grid{
    display: grid;
    box-sizing: border-box;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 2fr);
}

#project-grid .card{
    display: flex;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    background-color: white;
    border-left: 8px solid #f0b429;
    border-radius: 5px;
    padding: 30px 20px;
}

#project-grid .card *{
    margin: 0;
}

#project-grid .card p{
    color: rgba(99,99,99,255);
    font-size: .9rem;
    margin-bottom: 16px;
}

#project-grid .card .project-icons{
    display: flex;
    gap: 10px;
    margin-top: auto;
    align-self: flex-end;
}

#project-grid .card button{
    background-color: var(--accent-color-2);
    border: 1px solid rgba(0, 0, 0, 0.237);
    border-radius: 5px;
    font-size: 0.8rem;
}

#announcements{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 /3 ;
    grid-row: 1/ 2;
}

#announcements p{
    text-align: center;
}

#announcements #announcements-topics{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    gap: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}



#announcements #announcements-topics {
    color: rgba(99,99,99,255);
    font-size: .75rem;
}

#announcements #announcements-topics h5{
    color: black;
    margin: 0;
    font-size: .75rem;
}

#announcements #announcements-topics :not(:last-child){
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    
}

#trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#trending + p{
    text-align: center;
    
}

#trending #trending-topics{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    gap: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.user{
    display: flex;
    color: rgba(99,99,99,255);
    gap: 20px;
    text-align: start;
    font-size: 0.8rem;
}

.user *{
    margin: 0;
}

.user .info p{
    font-size: 0.85rem;
}

.user .info :first-child {
    color: black;
}

.user img{
    border-radius: 50px;
    object-fit: cover;
    height: 45px;
    width: 45px;
}
