:root{
    --main-color: rgba(255,255,255,255);
    --accent-color: rgba(25,146,212,255);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body{
    font-family: roboto;
    display: grid;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    grid-template-columns: 1fr 4.5fr;
}
header{
    grid-column: 2 / 3;
}

header #nav{
    display: flex;
}
header #nav ul{
    display: flex;
    list-style: none;
}

header svg{
    fill: black;
    height: 2rem;
    width: auto;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5px 0 0 25px;
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--accent-color);
    grid-column: 1 / 2;
    grid-row: 1 / span 4;
}

#logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 10px;
}

#logo svg{
    height: 2.5rem;
    width: auto;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

aside li{
    display: flex;
}

aside li p{

    margin: 0;
}
svg{
    fill: var(--main-color);
}
.menu svg{
    height: 1.2rem;
    width: auto;
    vertical-align: baseline;
    margin-right: 20px;
}

.menu{
    padding: 0;
}

main{
    background-color: rgba(226,232,240,255);
    grid-row: 2 / span 3;
}

#projects{
    display: grid;
    grid-template-columns: repeat(2, 500px);
}

